PETSHOP/Connected Services/wsPacking/PackingSrv1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMaestroCaracteres">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MaestroCaracteres" nillable="true" type="tns:MaestroCaracteres" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMaestroCaracteres" nillable="true" type="tns:ArrayOfMaestroCaracteres" />
  <xs:complexType name="MaestroCaracteres">
    <xs:sequence>
      <xs:element minOccurs="0" name="intMaxLength" type="xs:int" />
      <xs:element minOccurs="0" name="strColumnName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MaestroCaracteres" nillable="true" type="tns:MaestroCaracteres" />
</xs:schema>