PETSHOP/Connected Services/wsSistema/SistemaSrv3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.Entidades.Sistema" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.Entidades.Sistema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TSConfi">
    <xs:sequence>
      <xs:element minOccurs="0" name="bitFlActivo" type="xs:boolean" />
      <xs:element minOccurs="0" name="dttFeRegistro" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="intIdConfi" type="xs:int" />
      <xs:element minOccurs="0" name="intIdSoft" type="xs:int" />
      <xs:element minOccurs="0" name="strCoConfi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strDesConfi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strPosibValor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strValorConfi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoControl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TSConfi" nillable="true" type="tns:TSConfi" />
</xs:schema>