PETSHOP/Connected Services/wsSistema/SistemaSrv.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SistemaSrv" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:35578/SistemaSrv.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:35578/SistemaSrv.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:35578/SistemaSrv.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio.Entidades" />
      <xsd:import schemaLocation="http://localhost:35578/SistemaSrv.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.Entidades.Sistema" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISistemaSrv_ImpresionTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:ImpresionTicket" />
  </wsdl:message>
  <wsdl:message name="ISistemaSrv_ImpresionTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImpresionTicketResponse" />
  </wsdl:message>
  <wsdl:message name="ISistemaSrv_ConsultarTSConfi_xCod_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarTSConfi_xCod" />
  </wsdl:message>
  <wsdl:message name="ISistemaSrv_ConsultarTSConfi_xCod_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarTSConfi_xCodResponse" />
  </wsdl:message>
  <wsdl:portType name="ISistemaSrv">
    <wsdl:operation name="ImpresionTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ISistemaSrv/ImpresionTicket" message="tns:ISistemaSrv_ImpresionTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISistemaSrv/ImpresionTicketResponse" message="tns:ISistemaSrv_ImpresionTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarTSConfi_xCod">
      <wsdl:input wsaw:Action="http://tempuri.org/ISistemaSrv/ConsultarTSConfi_xCod" message="tns:ISistemaSrv_ConsultarTSConfi_xCod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISistemaSrv/ConsultarTSConfi_xCodResponse" message="tns:ISistemaSrv_ConsultarTSConfi_xCod_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISistemaSrv" type="tns:ISistemaSrv">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ImpresionTicket">
      <soap:operation soapAction="http://tempuri.org/ISistemaSrv/ImpresionTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarTSConfi_xCod">
      <soap:operation soapAction="http://tempuri.org/ISistemaSrv/ConsultarTSConfi_xCod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SistemaSrv">
    <wsdl:port name="BasicHttpBinding_ISistemaSrv" binding="tns:BasicHttpBinding_ISistemaSrv">
      <soap:address location="http://localhost:35578/SistemaSrv.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>